@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

html {
  /*font-family:"Open Sans";*/
  font-family: 'Dosis';
}

.my-logo {
  color: white;
  flex :0 0 250px;
  padding: 13px 20px;
  margin-right: 15px;
  line-height: 16px;
}
.my-logo-small {
  color: #8189A0;
  font-size: 9px;
}

.view-src-link {
  position:fixed;
  line-height:40px;
  background:#eee;
  right:10px;
  bottom:10px;
  text-decoration: none;
  padding:0 20px;
  border-radius: 3px;
  color:#08c;
  display:none;
}

/* Gives result list unlimited space to grow. */
.layout__body {
  max-width: none;
}
.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  color: #333;
  background: #419be0;
}

/* Lets the set symbols 'align right' (key part being position: relative).*/
.sk-hits-list-hit {
  background: #f4f4f4;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

/* Ensures minimum width of card text in List mode. */
.sk-hits-list-hit__details {
  min-width: 150px;
  position: relative;
  padding: 0 10 0 10;
}

/*.sk-refinement-list-option__checkbox {
  display: none;
}

.sk-refinement-list-option__checkbox {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}*/

/* The card title.*/
.sk-hits-list-hit__title {
  transition: 0.8s;
  color: #666;
}
.sk-hits-list-hit__title:hover {
  text-decoration: underline;
}

/* The subtitle text being used everywhere. May change this.*/
.sk-hits-list-hit__subtitle {
  &.banned {
    font-weight: bold;
    color: red;
  }
  &.legal {
    color: green;
  }
}

/* The card images in list view. */
.listImg {
  transition: 0.3s;
  position: relative; /* Purely here to make z-index work. */
  &.clicked {
    width: 223px;

    &.split {
      transform: rotate(90deg);
      z-index: 100;
    }
    &.flip {
      transform: rotate(180deg);
    }
    &.double-faced {
      transform: rotateY(360deg);
    }
  }
  &.split {
    transform: rotate(90deg);
    z-index: 100;
  }
  &.flip {
    transform: rotate(180deg);
  }
  &.double-faced {
    transform: rotateY(360deg);
  }
}
.listImg:hover {
  animation: border-pulsate 2s infinite;
}

.listImgDiv {
  transition: 0.3s;
}

@keyframes border-pulsate {
  0%   { box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.0); }
  50%  { border-color: 0 3px 3px 0 rgba(0, 0, 0, 0.4); }
  100% { border-color: 0 3px 3px 0 rgba(0, 0, 0, 0.8); }
}

/* The card images in grid view. */
.gridImg {
  border-radius: 12px;
  transition: 0.2s;
  max-width: 223px;
  max-height: 311px;
  /*object-fit: contain;*/
}
.gridImg:hover {
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.8);
}

/* The set symbols in list view. */
.setIcon {
  padding: 4px;
  box-shadow: inset 0 0 0 0px grey;
  border-radius: 3px;
  transition: 0.4s;
  &.clicked.R, &.R:hover {    
    box-shadow: inset 0 0 0 20px rgb(227, 203, 140);
  }
  &.clicked.U, &.U:hover {
    box-shadow: inset 0 0 0 20px rgb(194, 218, 231);
  }
  &.clicked.M, &.M:hover {
    box-shadow: inset 0 0 0 20px rgba(244, 146, 38, 0.78);
  }
  &.clicked.C, &.C:hover {
    box-shadow: inset 0 0 0 20px rgb(191, 191, 191);
  }
  &.clicked.S, &.S:hover {
    box-shadow: inset 0 0 0 20px rgb(213, 192, 219);
  }
}
.setIcon:hover {
  background-color: lightgray;
}

.extraDetails {
  /*max-width: 300px;*/
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}