@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(//fonts.googleapis.com/css?family=Dosis:400,600);

html {
  font-family:"Open Sans";
  /*font-family: 'Dosis';*/
}

$backgroundColour: #333;
$listHitTextColour: #ddd;

body {
  background-color: $backgroundColour;
}

.counterBadge {
  position: relative;
  color: white; 
  background-color: #b91111;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;

  margin-top: -15px;
  top: 15px;
  right: 110px;
}

.my-logo {
  color: white;
  flex :0 0 60px;
  padding: 13px 13px;
  margin-right: 3px;
  line-height: 12px;
  background-color: #34547f;
  transition: 0.3s;
  border-radius: 3px;
}

.my-logo:hover {
 background-color: #3d6496; 
}

.my-logo-small {
  color: #8189A0;
  font-size: 9px;
}

.view-src-link {
  position:fixed;
  line-height:40px;
  background:#eee;
  right:10px;
  bottom:10px;
  text-decoration: none;
  padding:0 20px;
  border-radius: 3px;
  color:#08c;
  display:none;
}

/* Gives result list unlimited space to grow. */
.layout__body {
  max-width: none;
}
.container {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
  color: #333;
  background: #419be0;
}

/* Lets the set symbols 'align right' (key part being position: relative).*/
.sk-hits-list-hit {
  background: $backgroundColour;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s;
}

.sk-results-list {
  background-color: #222;
  padding-left: 270px !important;
  width: 100%;
}

.sk-hits-list-hit:hover {
  background-color: #444;
}

/* Ensures minimum width of card text in List mode. */
.sk-hits-list-hit__details {
  min-width: 150px;
  position: relative;
  padding: 10px 10px 0px 10px !important;
}

/* Each grid item. */
.sk-hits-grid__item {
  transition: 0.3s;
  padding: 0px;
 /* margin-left: 10px;
  margin-right: 10px;*/
  max-width: 500px;
  /*background-color: $backgroundColour;*/
}
.sk-hits-grid-hit {
  flex: 230px 0 0 !important;
}

/* The grid item's set name paragraph. */
.currentSetName{
  margin-top: 0px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

/* Adding some padding to range sliders for large numbers. */
.sk-range-slider {
  padding-right:10px;
}

/* The 'only' checkboxes. */
.onlyCheckbox {
  display: none;
}
.onlyCheckbox + label {
  display: inline;
  position: relative;
  padding: 0px 4px;
  border: 1px solid #444;
  border-radius: 3px;
  color: #ddd;
  font-weight: 500;
  font-size: 14px;
  background-color: #222;
  cursor: pointer;
}

.onlyCheckbox:checked + label {
  background-color: #08c;
  border-color: #08c;
  color: #fff;
}

/* The AND/OR selectors. */
.darkToggle {
  padding-left: 3px;
}
.darkToggle .sk-toggle__item {
  background-color: #222;
  padding: 0px 4px;
}

/* The cycle card tooltips. */
.tooltipLink img {
  float:left;
  display:none;
}
.tooltipLink:hover img{
  display:block;
  position:fixed;
  z-index:1000;
  overflow:hidden;
  border-radius: 13px;
}

/* The checkboxes. */
.sk-refinement-list-option__checkbox {
  display:none;
}

.sk-refinement-list-option__checkbox + .sk-refinement-list-option__text:before {
  content: '';
  background: #fff;
  border: 1px solid #616161;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.sk-refinement-list-option__checkbox + .sk-refinement-list-option__count:before {
  content: '';
  background: #fff;
  border: 1px solid #616161;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.sk-refinement-list-option__checkbox:checked + .sk-refinement-list-option__text:before {
  background:#000;
}

/* The tabs. */
.ReactTabs__Tab--selected {
  background-color: #333 !important;
  color: #ddd !important;
}

.ReactTabs__Tab {
  color: #ddd;
}

/* The card title.*/
.sk-hits-list-hit__title, .sk-hits-grid-hit__title {
  transition: 0.8s;
  color: $listHitTextColour;
  font-size: 18px;
}
.sk-hits-list-hit__title:hover, .sk-hits-grid-hit__title:hover {
  /*text-decoration: underline;*/
}

/* The subtitle text being used everywhere. May change this.*/
.sk-hits-list-hit__subtitle, .sk-hits-grid-hit__subtitle {
  font-size: 14px;
  margin: 0px !important;
  color: $listHitTextColour !important;
  &.banned {
    font-weight: bold;
    color: red;
  }
  &.legal {
    color: green;
  }
  &.typeLine {
    /*margin-bottom: -2px;*/
    font-weight: bold;
  }
  &.priceDescriptor {

  }
}

/* The div containing each individual price. */
.priceContainer {
  font-size: x-small;
  padding: 2px;
  background-color: #222;
  border: 1px solid #333;
  margin-bottom: -1;
  transition: 0.3s;
}
.priceContainer:hover {
  background-color: #1D5A7D;
}


/* The grid view's title and text area. */
.titleAndTextColumn {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.sk-tag-filter {
  transition: 0.3s;
  /*margin-bottom: -8px; /* To counteract the tagFilter's larger line height. */
  /*color: #0092D6;*/
  cursor: hand;
  border-bottom: 1px solid rgba(0,146,214,0.7);
}
.sk-tag-filter:hover {
  color: $backgroundColour;
  background-color: #0092D6;
  border-radius: 2px;
}

/* The card images in list view. */
.listImg {
  border-radius: 6px;
  transition: 0.3s;
  position: relative; /* Purely here to make z-index work. */
  &.clicked {
    width: 223px;

    &.split {
      transform: rotate(90deg);
      z-index: 100;
    }
    &.flip {
      transform: rotate(180deg);
    }
    &.double-faced {
      transform: rotateY(360deg);
    }
    &.meld {
      transform: rotateY(360deg);
    }
  }
  &.split {
    transform: rotate(90deg);
    z-index: 100;
  }
  &.flip {
    transform: rotate(180deg);
  }
  &.double-faced {
    transform: rotateY(360deg);
  }
  &.meld {
    transform: rotateY(360deg);
  }
}
.listImg:hover {
  /*animation: border-pulsate 2s infinite;*/
}

.listImgDiv {
  transition: 0.3s;
}

/* The filter hints. */
.filterHint {
  color: #ccc;
  font-size: small;
  position: relative;
  top: -15;
}

@keyframes border-pulsate {
  0%   { box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.0); }
  50%  { border-color: 0 3px 3px 0 rgba(0, 0, 0, 0.4); }
  100% { border-color: 0 3px 3px 0 rgba(0, 0, 0, 0.8); }
}

/* The card images in grid view. */
.gridImg {
  border-radius: 12px;
  transition: 0.2s;
  width: 223px;
  height: 169px;
  /*object-fit: contain;*/
}

.gridImg:hover {
  box-shadow: 0px 0px 15px 0 rgba(255, 255, 255, 0.5);
}

/* The cards in the 10 closest tab. */
.closestImg {
  transition: 0.3s;
  display: block;
  width: 115px;
  height: 158px;
  border-radius: 8px;

}
.closestImg:hover {
  width: 223px;
  height: 310px;
}

/* The set symbols in list view. */
.setIcon {
  padding: 4px;
  box-shadow: inset 0 0 0 0px grey;
  border-radius: 3px;
  transition: 0.4s;
  &.clicked.R, &.R:hover {    
    box-shadow: inset 0 0 0 20px rgb(227, 203, 140);
  }
  &.clicked.U, &.U:hover {
    box-shadow: inset 0 0 0 20px rgb(194, 218, 231);
  }
  &.clicked.M, &.M:hover {
    box-shadow: inset 0 0 0 20px rgba(244, 146, 38, 0.78);
  }
  &.clicked.C, &.C:hover {
    box-shadow: inset 0 0 0 20px rgb(191, 191, 191);
  }
  &.clicked.S, &.S:hover {
    box-shadow: inset 0 0 0 20px rgb(227, 203, 140);
  }
}
.setIcon:hover {
  background-color: lightgray;
}

.extraDetails {
  /*max-width: 300px;*/
  padding-top: 3px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

/* The bits cutting off text in the inputFilters. */
.sk-input-filter__action {
  width: 0px;
}

/* The large symbol filters. */
.filter--symbols, .filter--colours, .filter--colourIdentity {
  
  .sk-item-list {
    display: flex;
    flex-flow: row wrap;
  }
  
  .sk-item-list-option {
    text-align: center;
    flex: 15% 0 0;
    display: block;
    border-radius: 3px;
    padding: 1px;
    margin: 1px;
    
    &__count {
      text-align: center;
    }
    
    img.refineListImage {
      height: 30px;
      display: block;
      margin: auto;
      margin-top: 3px;
    }
    
    &.is-active {
      background-color: #151515;
        
      .sk-item-list-option__count {
        color: #fff;
      }
    }
  }
}

/* The top-of-page filter groups of the large symbols. */
.filter-group-symbols, .filter-group-colours, .filter-group-colourIdentity {
  .sk-filter-group-items__value {
    &:hover {
      opacity: 0.3;
    }
    
    img {
      height: 20px;
      margin-bottom: -4px;
    }
  } 
}

/* The range input text boxes. */
.sk-range-input__input {
  border: 1px solid #555 !important;
  background-color: #444;
  color: #bbb;
}
.sk-range-input__submit {
  background-color: #444 !important;
}

/* The reset filters button. */
.sk-reset-filters {
  width: 110;
}

/* Table stylings. */

.sk-table {
  color: #ddd;  
  &.sk-table th {
    color: #eee;
    background-color: #444;
  }
  &.sk-table-odd td {
    background-color: #333 !important; 
  }
  &.sk-table-striped tr:nth-child(2n-1) td {
    background-color: #333 !important; 
  }  
}
 

$sk-layout-background: #333 !default;
$sk-layout-panel-background: #222 !default;
$sk-primary-theme-color: #2a4466 !default;
$sk-active-bg-color: #eee !default;
$sk-border-color: #444 !default;
$sk-title-color: #ddd !default;
$sk-text-color: #bbb !default;
$sk-text-secondary-color: #aaa !default;
$sk-list-text-color: #ccc !default;
$sk-list-secondary-text-color: #aaa !default;
$sk-action-text-color: #ccc !default;
$sk-action-active-color: #fff !default;
$sk-disabled-text-color: #777 !default;
$sk-remove-action-color: #fa2a00 !default;

$sk-selector-background: #333 !default; 
$sk-selector-active-background: #08c !default; 
$sk-selector-border-color: #444 !default; 
$sk-selector-text-color: #ddd !default; 
$sk-selector-active-text-color: white !default; 

$sk-selected-filters-background: #333 !default;

@import "node_modules/searchkit/theming/theme.scss";

.sk-layout__filters {
  background: #333;
  padding: 20px 15px;
  margin: 0;
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 262px;
}

.sk-layout__filters:hover {
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2); 
      border-radius: 6px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar {
      background-color: rgba(0,0,0,0);
      width: 8px;
}

.sk-layout__results {
  padding: 20px 15px;
  margin: 0;
}